{% extends 'secureHealth/base.html' %}
{% load static %}
{% block content %}

<div class="col-lg-8 offset-lg-2">
    <h4 class="page-title">Add Department</h4>
</div>
</div>
<div class="row">
<div class="col-lg-8 offset-lg-2">
    <form action="{% url 'adddepartment' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Department Name</label>
            <input class="form-control" name="department_name" type="text">
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea cols="30" rows="4" name="message" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label>Hospital name</label>
            <select class="select form-control" name="hospital_name">
                <option value="cm hospital">CM Hospital</option>
                <option value="kims hospital">Kims Hospital</option>
            </select>
                
        </div>
        <div class="form-group">
            <label class="display-block">Department Status</label>
            <div class="form-check-inline">
                <input type="radio" name="status" class="form-check-input" value="active">active
                <input type="radio" name="status" class="form-check-input" value="inactive">inactive
            </div>
        </div>
        <div class="m-t-20 text-center">
            <button class="btn btn-primary submit-btn">Create Department</button>
        </div>
    </form>
</div>
</div>
{% endblock %}