{% extends 'secureHealth/base.html' %}
{% load static %}
{% block content %}
<div class="col-lg-8 offset-lg-2">
    <h4 class="page-title">Edit Employee</h4>
</div>
</div>
<div class="row">
<div class="col-lg-8 offset-lg-2">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.errors}}
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>First Name <span class="text-danger">*</span></label>
                    <input class="form-control" name="first_name" type="text" value="{{employee.first_name}}">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" name="last_name" value="{{employee.last_name}}" type="text">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Username <span class="text-danger">*</span></label>
                    <input class="form-control" name="username" value="{{employee.username}}"  type="text">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Email <span class="text-danger">*</span></label>
                    <input class="form-control"  name="email" value="{{employee.email}}"  type="email">
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" name="password" value="{{employee.password}}"  type="password">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input class="form-control" name="confirm_Password"  value="{{employee.password}}" type="password">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Employee ID <span class="text-danger">*</span></label>
                    <input type="text" name="employee_id" value="{{employee.employee_id}}"  class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Role</label>
                    <select class="select form-control" name="role" value="{{employee.role}}">
                        <option value="{{employee.role}}" selected>{{employee.role}}</option>
                        <option value="Admin">Admin</option>
                        <option value="Doctor">Doctor</option>
                        <option value="Nurse">Nurse</option>
                        <option value="Laboratorist">Laboratorist</option>
                        <option value="Pharmacist">Pharmacist</option>
                        <option value="Accountant">Accountant</option>
                        <option value="Receptionist">Receptionist</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Joining Date <span class="text-danger">*</span></label>
                    <div class="cal-icon">
                        <input class="form-control datetimepicker" name="joining_date" value="{{joining_date}}"  type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Phone </label>
                    <input class="form-control" name="phone_number" value="{{employee.phone_number}}"  type="text">
                </div>
            </div>
            
        <div class="form-group">
            <label class="display-block">Status</label>
            <div class="form-check-inline">
                {% if employee.status == "active" %}
                    <input type="radio" name="status" class="form-check-input"  value="active" checked>active
                    <input type="radio" name="status" class="form-check-input" value="inactive">inactive
                {% else %}
                    <input type="radio" name="status" class="form-check-input" value="active">active
                    <input type="radio" name="status" class="form-check-input" value="inactive" checked >inactive
                {% endif %}
            </div>
        </div>
        <div class="m-t-20 text-center">
            <button class="btn btn-primary submit-btn">Update Employee</button>
        </div>
    </form>
</div>
</div>
{% endblock %}