{% extends 'secureHealth/base.html' %}
{% block content %}
<div class="col-lg-8 offset-lg-2">
    <h4 class="page-title">Edit Appointment</h4>
</div>
</div>
<div class="row">
<div class="col-lg-8 offset-lg-2">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Appointment ID</label>
                    <input class="form-control" type="text" value="{{appointment_data.appointment_id}}" name="appointment_id">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Patient Name</label>
                    <input class="form-control" type="text" name="patient_name" value="{{appointment_data.patient_name}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Department</label>
                    <select class="select form-control" name="department" value="{{appointment_data.department}}">
                        <option value="{{appointment_data.department}}" selected>{{appointment_data.department}}</option>
                        <option value="Dentists">Dentists</option>
                        <option value="Neurology">Neurology</option>
                        <option value="Opthalmology">Opthalmology</option>
                        <option value="Orthopedics">Orthopedics</option>
                        <option value="Cancer Department">Cancer Department</option>
                        <option value="ENT Department">ENT Department</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Doctor</label>
                    <select class="select form-control" name="doctor" value="{{appointment_data.doctor}}" >
                        <option value="{{appointment_data.doctor}}" selected>{{appointment_data.doctor}}</option>
                        <option value="Dr Anitha Samuel">Dr Anitha Samuel</option>
                        <option value="Dr Ramesh Raj">Dr Ramesh Raj</option>
                        <option value="Dr Veena Madhavan">Dr Veena Madhavan</option>
                        <option value="Dr Rashmika Yash">Dr Rashmika Yash</option>
                        <option value="Dr shanthi Sarogam">Dr shanthi Sarogam</option>
                        <option value="Dr Mathew Vargheese">Dr Mathew Vargheese</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Date</label>
                    <div class="cal-icon">
                        <input type="text" name="date" value="{{date}}" class="form-control datetimepicker">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Time</label>
                    <div class="time-icon">
                        <input type="text" name="time" value="{{time}}" class="form-control" id="datetimepicker3">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Patient Email</label>
                    <input class="form-control" name="patient_email" value="{{appointment_data.patient_email}}" type="email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Patient Phone Number</label>
                    <input class="form-control" name="patient_phone_number" value="{{appointment_data.patient_phone_number}}" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Message</label>
            <input type="text" name="message" value="{{appointment_data.message}}" class="form-control">
            <!-- <textarea cols="30" rows="4"  name="message" class="form-control"></textarea> -->
        </div>
        <div class="form-group">
            <label class="display-block">Appointment Status</label>
            <div class="form-check-inline">
                {% if patient_detail.status == "active"%}
                    <input type="radio" name="appointment_status" class="form-check-input" value="active" checked>active
                    <input type="radio" name="appointment_status"  class="form-check-input" value="inactive">inactive
                {% else %}
                    <input type="radio" name="appointment_status" class="form-check-input" value="active" >active
                    <input type="radio" name="appointment_status" class="form-check-input" value="inactive" checked>inactive
                {% endif %}
            </div>
        </div>
        <div class="m-t-20 text-center">
            <button class="btn btn-primary submit-btn">Update Appointment</button>
        </div>
    </form>
  </div>
</div>
{% endblock %}